<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->

    <!-- Set the Character set for the page -->
    <meta charset="utf-8">

    <!-- Let the page adapt to client device -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link to external resource (css, search, etc.) -->
    <!-- Link to Bootstrap CSS in this case -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Applications List</title>
</head>
<body>
<h1>Application List</h1>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Application ID</th>
        <th>Student's Name</th>
        <th>Thesis Title</th>
        <th>Status</th>
        <th>Action</th>

    </tr>
    </thead><tbody>
<tr th:each="applications : ${applications}">
    <td th:text="${applications.id}"></td>
    <td th:text="${applications.student.firstName + ' ' + applications.student.lastName}"></td>
    <td th:text="${applications.thesis.title}"></td>
    <td class="text-success" th:if="${applications.status =='Accepted'}"><span th:text="${applications.status}"></span></td>
    <td class="text-danger" th:if="${applications.status =='Declined'}"><span th:text="${applications.status}"></span></td>
    <td class="text-warning" th:unless="${applications.status =='Declined'||applications.status =='Accepted'}"><span th:text="${applications.status}"></span></td>

    <td>
            <a th:href="@{'/Professors/assignThesis?applicationId=' + ${applications.id}}" class="btn btn-success">Accept</a>
            <a th:href="@{'/Professors/declineThesis?applicationId=' + ${applications.id}}" class="btn btn-danger">Decline</a>
        </td>

</tr>
</tbody>
</table>

<table>
<form action="#" th:action="@{/Professors/selectStrategy}" method="post">
    <select name="strategy">
        <option value="BestAvgGrade">Best Average Grade</option>
        <option value="FewestCourses">Fewest Courses</option>
    </select>
    <input type="hidden" name="thesisId" th:value="${thesisId}" />
    <button type="submit">Select Strategy</button>
</form>
</table>

<div th:if="${bestStudent != null}">
    <h2>Best Student: <span th:text="${bestStudent.firstName + ' ' + bestStudent.lastName}"></span></h2>
</div>

<a href="#" th:href="@{/Professors/mainMenu}" class="btn btn-info btn-sm">Back to Main Menu</a>
</body>
</html>