<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->

    <!-- Set the Character set for the page -->
    <meta charset="utf-8">

    <!-- Let the page adapt to client device -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link to external resource (css, search, etc.) -->
    <!-- Link to Bootstrap CSS in this case -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Theses List</title>
</head>
<body>
<h1>Theses List</h1>

<!-- Add a button -->
<a th:href="@{/Professors/showThesisForm(testModelAttr=${test})}"
   class="btn btn-primary btn-sm mb-3">
    Add Thesis
</a>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Thesis ID</th>
        <th>Title</th>
        <th>Objectives</th>
        <th>Professor</th>
        <th>Subject</th>
        <th>Applications</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="thesis : ${theses}">
        <td th:text="${thesis.id}"></td>
        <td th:text="${thesis.title}"></td>
        <td th:text="${thesis.objectives}"></td>
        <td th:text="${thesis.professor.firstName + ' ' + thesis.professor.lastName}"></td>
        <td th:text="${thesis.subject.name}"></td>
        <td>
            <a th:href="@{/Professors/listApplications(thesisId=${thesis.id})}">
                View Applications</a>
        </td>
    </tr>
    </tbody>
</table>

<a href="#" th:href="@{/Professors/mainMenu}" class="btn btn-info btn-sm">Back to Main Menu</a>
</body>
</html>