<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->

    <!-- Set the Character set for the page -->
    <meta charset="utf-8">

    <!-- Let the page adapt to client device -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link to external resource (css, search, etc.) -->
    <!-- Link to Bootstrap CSS in this case -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Professor Main Menu</title>
</head>

<body>
<h1>Professor Main Menu</h1>

<p>First Name: <span th:text="${professor.firstName}"></span></p>

<p>Last Name: <span th:text="${professor.lastName}"></span></p>

<p>Email: <span th:text="${professor.email}"></span></p>

<p>Specialty: <span th:text="${professor.specialty}"></span></p>

<p>username: <span th:text="${professor.username}"></span></p>


<a th:href="@{/Professors/showFormForUpdate(professorId=${professor.id})}"
   class="btn btn-info btn-sm">
    Update
</a>

<a href="#" th:href="@{/Professors/listSubjects}" class="btn btn-info btn-sm">Subjects List</a>

<a href="#" th:href="@{/Professors/listTheses}"
   class="btn btn-info btn-sm">
    Theses List</a>

<a href="#" th:href="@{/Professors/listAcceptedTheses}"
   class="btn btn-info btn-sm">
    Accepted Theses List</a>
</body>
</html>