<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->

    <!-- Set the Character set for the page -->
    <meta charset="utf-8">

    <!-- Let the page adapt to client device -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link to external resource (css, search, etc.) -->
    <!-- Link to Bootstrap CSS in this case -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Professor Main Menu</title>
</head>
<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark" style="width: 280px; position: fixed; left: 0; height: 100vh;">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <span class="fs-4">Professor Main Menu</span>
    </a>
    <hr>
    <br>
    <br>
    <br>
    <br>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" th:href="@{/Professors/listSubjects}" class="nav-link text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg> &nbsp;&nbsp; Subjects List
            </a>
        </li><br>
        <li>
            <a href="#" th:href="@{/Professors/listTheses}" class="nav-link text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg></i> &nbsp;&nbsp;  Theses List
            </a>
        </li><br>
        <li>
            <a href="#" th:href="@{/Professors/assignedTheseslist(id=${professor.id})}" class="nav-link text-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                </svg></i>&nbsp;&nbsp;Assigned Theses List
            </a>
        </li>
    </ul>
    <hr>
</div>
<body style="width: 800px;  position: fixed; left: 400px; height: 200vh; ">
<br>
<br>
<br>
<h1></h1>
    <div class="container bootstrap snippets bootdey">
        <div class="col-md-6">
            <strong>Profile Information</strong><br>
            <div class="table-responsive">
                <table class="table table-user-information">
                    <tbody>
                    <tr>
                        <td>

                            <strong><span class="glyphicon glyphicon-user  text-primary"></span>First Name:</strong>
                        </td>
                        <td>
                            <span th:text="${professor.firstName}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-user  text-primary"></span>
                            <strong>Last Name:</strong>
                        </td>
                        <td>
                            <span th:text="${professor.lastName}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-envelope text-primary"></span>
                            <strong>Email:</strong>
                        </td>
                        <td><span th:text="${professor.email}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-bookmark text-primary"></span>
                            <strong>Specialty:</strong>
                        </td>
                        <td><span th:text="${professor.specialty}"></span>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <span class="glyphicon glyphicon-bookmark text-primary"></span>
                            <strong>username:</strong>
                        </td>
                        <td><span th:text="${professor.username}"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a th:href="@{/Professors/showFormForUpdate(professorId=${professor.id})}"
                               class="btn btn-info btn-sm">
                                Update Information
                            </a>
                        </td><td></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>