<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->

    <!-- Set the Character set for the page -->
    <meta charset="utf-8">

    <!-- Let the page adapt to client device -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link to external resource (css, search, etc.) -->
    <!-- Link to Bootstrap CSS in this case -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Subjects List</title>
</head>
<body>
<h1>Subjects List</h1>

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Subject ID</th>
        <th>Subject Name</th>
        <th>Subject Description</th>
        <th>Theses</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="subject : ${subjects}">
        <td th:text="${subject.id}"></td>
        <td th:text="${subject.name}"></td>
        <td th:text="${subject.description}"></td>
        <td>
        <a th:href="@{'/Students/listThesis/' + ${subject.id}}"
           class="btn btn-info btn-sm">Theses List</a>
    </td>

    </tr>
    </tbody>
</table>


<a href="#" th:href="@{/Students/mainMenu}" class="btn btn-info btn-sm">Back to Main Menu</a>
</body>
</html>