<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->

    <!-- Set the Character set for the page -->
    <meta charset="utf-8">

    <!-- Let the page adapt to client device -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Link to external resource (css, search, etc.) -->
    <!-- Link to Bootstrap CSS in this case -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Student Main Menu</title>
</head>

<body>
<h1>Student Main Menu</h1>

<p>First Name: <span th:text="${student.firstName}"></span></p>

<p>Last Name: <span th:text="${student.lastName}"></span></p>

<p>Email: <span th:text="${student.email}"></span></p>

<p>Year of Studies: <span th:text="${student.yearofstudies}"></span></p>

<p>Current Average Grade: <span th:text="${student.currentaveragegrade}"></span></p>

<p>Number Of Remaining Courses For Graduation: <span th:text="${student.numberofremainingcoursesforgraduation}"></span></p>

<p>username: <span th:text="${student.username}"></span></p>



<a href="#" th:href="@{/Students/listSubjects}" class="btn btn-info btn-sm">Subjects List</a>

<a href="#" th:href="@{/Students/listApplications}"
   class="btn btn-info btn-sm">
    Current Applications</a>

<a href="#" th:href="@{/Students/listTheses}"
   class="btn btn-info btn-sm">
    Theses List</a>

</body>
</html>